/* .m1{
     font-family: 'Borel', cursive;;
}
.m2{
     font-family: 'Borel', cursive;
     font-family: 'Edu SA Beginner', cursive;
}
.m3{
     font-family: 'Borel', cursive;
font-family: 'Edu SA Beginner', cursive;
} */
/* a:link,a:visited{
     background-color: brown;
     color: yellow;
     text-decoration: none;
     padding: 10px 15px;
     border-radius: 13px;
}
a:hover,a:active{
     background-color: yellow;
     color: brown;
} */




